/* Universal Selector --> Seletc every element
Reference: https: //www.w3schools.com/cssref/css_selectors.php
General Selector 

    Dont use the * selector
* {
    font-size: 24px;
}
*/


html,
body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Selects every "p" element inside a div */
/* Selects every "p" where div is parent */

div p {
    color: crimson;
}

/* Selects all "b" and all "u" elements */
b,
u {
    color: darkorange
}

/* Specific Selectors: .class #id */
.important {
    color: red
}

.dotted {
    border: 2px dotted #ccc
}

#spec {
    color: blue !important;
}

/* Pseudo classes 
    Note: the order of pseudoclasses are important!
    */

a:link {
    color: orange;
}

a:visited {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: black;
}

.actor-container {
    display: flex;
    justify-content: center;
    align-items: center;

.actor {
    border: 2px solid #ccc;
    width: 200px;
    height: auto;
    border-radius: 50%;
    padding: 20px;
    margin-left: 20px;
}
  }

.text{
    font-style: italic;
}

.musician{
    width: 200px;
    height: 280px;
    border-radius: 50%;
    margin-left: 20px;
}

span{
    padding-left: 60px;
    padding-right: 45px;
}